



body {
    background-color: grey;
    text-align: center;
}


h1 {
    color: black
}

#navbar {
    padding: 10px 0;
    font-size: 28px;
    background-color: darkgray;
    text-align: center;
}


